<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Image Transmission Simulator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">


</head>
<body>
  <div class="container">
    <h1>Image Transmission Simulator</h1>
    <form action="/simulate" method="post" enctype="multipart/form-data">
      <input type="file" name="image" />
      <input type="text" name="modulation" placeholder="Enter modulation order" />
      <button type="submit">Upload</button>
    </form>

    <div id="output-section" class="hidden">
      <h2>Simulation Results</h2>
      <canvas id="ber-plot"></canvas>
      <h3>Received Image:</h3>
      <img id="received-image" src="" alt="Output Image">
    </div>
  </div>

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  
</body>
</html>
